@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mobile {
  @media screen and (max-width: $media_mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $media_tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $media_laptop) {
    @content;
  }
}

@keyframes outline {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}