$bg_color: #f9f9f9;
$text_color: #273449;

$ff: "Poppins", sans-serif;
$fs_p: 1rem;
$fw_400: 400;
$fw_500: 500;
$fw_600: 600;
$fw_bold: bold;

$high_br: 999rem;

$media_mobile: 480px;
$media_tablet: 768px;
$media_laptop: 1024px;

$white_color: #fff;
$black_color: #000;

$stormy-blue_color: #273449;
$warning_color: #ff4d4d;
$success_color: #00d471;